body{
    background: #57514A;
}

a{
text-decoration:none;
color:#57514a;
}
.grid_0{
    width: 100%;
    background: #e6e4df;
    margin: 0 auto;
    text-align: center;
    height: 64px;
}

#topbar{
    width: 960px;
    margin: 0 auto;
}

#logo{
    display: inline;
    float: left;
}

#menu{
    display: inline-block;
}
#menu ul{
    list-style: none;
    margin-bottom: 0px;
    height: 50px;
}
#menu ul li{
    display: inline-block;
    margin: 0px;
    padding: 15px;
    height: 21px;
}
#menu ul li a{}
#menu ul li a.active{
}

#user_tools{
    display: inline-block;
    list-style: none;
}
#user_tools  li{
    display: inline;
}
#user_tools  li a{}

#welcome{
background:transparent url()
}

#notification{}

#settings{}

#logout{}

.container_12{
    background: #fff;
    margin: 0px auto;
    height: initial;
    padding: 30px;

}

#left_col{}

.post{}

.post_title{
    font-size: 18px;
    color: #57514A;
}

.post_date{
    float: right;
    font-size: 11px;
    color: lightgray;
    margin: 9px;
}

.pub_on{}

.posted_on{}

.post_container{
    display: inline-block;
    float: left;
    margin-left: 0px;
}

.post_content{}

.tools{}

#right_col{
    background: #f0ede8;
}

.friend_feed{
    border: 1px solid lightgray;
    border-bottom: none;
}

.feed_main_title{
    background: #038d92;

    color: #fff;
    font-size: 18px;
    padding: 9px;
    margin: 0px;
}
.feed_item{
    display: inline-block;
    border-bottom: 1px solid #d4d1cd;
    padding: 15px 0px;
    border-top: 1px solid #fff;
    margin-bottom: -2px;
    position: relative;
}

.feed_item img{
    float: left;
    margin-left: 10px;
    display: inline-block;
}

.feed_details{
    margin-left: 10px;
    display: inline-block;
    width: 157px;
    font-size: 13px;
    line-height: 130%;
}

.user a{
    color: #a39a8c;
    font-weight: bold;
}

.action a{
    font-weight: bold;
    color: #c05805;
}

.book a{
    color: #57514A;
    font-weight: bold;
}

.book_type a{}

.feed_time a{
    font-size: 9px;
    float: right;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #A39A8C;
}







