<link rel="stylesheet" href="/static/css/style_covers.css"/>
{% extends "base.html" %}
{% block content %}



<h1 class="post_title">Himo available to Read</h1>
{% for picture,id,name  in books %}
<div class="img">
    <a target="_blank" href="{{id}}">
        <img src="{{picture}}" alt="


        {% if name  %}
        {{name}}

        {% endif %}




        " width="410" height="420" />


    </a>
    {% if name  %}
    <div class="desc">{{name}}</div>
    {%else%}
    <div class="desc"><br> </div>
    {% endif %}
</div>









{% endfor %}


{% endblock %}
